.graph {
  height: 100%;
  width: 100%;
}

.mockEdge {
  stroke: white;
  stroke-width: 0.2%;
  stroke-dasharray: 3 2 1;
  pointer-events: none;
}
.mockArrow {
  fill: white;
}
.modalButton {
  background-image: linear-gradient(45deg, #2a7cd0, #7e5aea);
  color: white;
  font-weight: bold;
  border: none;
}
