.controlPanel {
  display: flex;
  justify-content: space-evenly;
  width: 99%;
  align-self: center;
  margin-top: 0.5%;
  padding-bottom: 10px;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-image: linear-gradient(45deg, #080808de, #25202f);
  padding-top: 10px;
}
.nodeOptions {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}
.edgeOptions {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
}
.miscellaneous {
  display: flex;
  align-items: center;
}
.algorithm {
  /* display: flex; */
}
.visualizeControls {
  display: flex;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(180deg, #51268ad1, #0072ffbf 119%);
}
.graphContainer {
  width: 99%;
  height: 90%;
  align-self: center;
  background-image: linear-gradient(45deg, #080808, #25202f);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.icon {
  margin-right: 5px;
}
.optionButtons {
  background: transparent;
  border: 2px solid white;
  height: 68%;
  color: white;
  border-radius: 5px;
  outline-color: white;
}
.speedSlider {
  width: 200px;
  margin-left: 20px;
}
.visualizerProgress {
  width: 99%;
  align-self: center;
}
.visualizerProgress hr {
  margin: 0;
  border-style: ridge;
}
.appIcon {
  height: 45px;
}
