.controlPanel {
  display: flex;
  justify-content: space-evenly;
  width: 99%;
  align-self: center;
  margin-top: 0.5%;
  padding-bottom: 10px;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #121419;
  padding-top: 10px;
}
.nodeOptions {
  display: flex;
  width: 25%;
  justify-content: space-evenly;
  align-items: center;
}
.edgeOptions {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-evenly;
}
.miscellaneous {
  display: flex;
  align-items: center;
}
.algorithm {
  /* display: flex; */
}
.visualizeControls {
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(180deg, #51268ad1, #0072ffbf 119%);
}
.graphContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 99%;
  height: 100%;
  align-self: center;
  background: #121419;
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.icon {
  margin-right: 5px;
}
.optionButtons {
  background-image: linear-gradient(45deg, #4039ad, #0e8ecc 159%);
  border: none;
  height: 68%;
  color: white;
  border-radius: 5px;
  outline-color: white;
  cursor: pointer;
}
.dropdownWrapper {
  background-image: linear-gradient(45deg, #4039ad, #0e8ecc 159%);
  border-radius: 5px;
}
.selectedButtonOption {
  background: white;
  color: black;
  transition: ease-in 0.1s;
}
.selectedButtonOption:focus {
  outline: none;
}
.selectedDropdownOption {
  background-image: linear-gradient(45deg, #4039ad, #0e8ecc 159%);
  border-radius: 5px;
}
.speedSlider {
  width: 200px;
  margin-left: 20px;
}
.visualizerProgress {
  width: 99%;
  align-self: center;
}
.visualizerProgress hr {
  margin: 0;
  border-style: ridge;
}
.appIcon {
  height: 45px;
  width: 45px;
  transform: scale(1.25);
}
.madeInIndia {
  position: absolute;
  align-self: center;
  bottom: 10px;
  color: white;
  font-size: 1.2em;
}
.pullDownMenu {
  display: none;
}
@media only screen and (max-width: 1000px) {
  .controlPanel {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 99%;
    align-items: center;
    flex-direction: column;
    height: 97vh;
    transition: ease-in 0.3s;
    padding-bottom: 10px;
    border-radius: 20px;
    background: #121419;
  }
  .nodeOptions {
    display: flex;
    width: 80%;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
  }
  .optionButtons {
    background-image: linear-gradient(45deg, #4039ad, #0e8ecc 159%);
    border: none;
    height: 32px;
    color: white;
    width: 100%;
    border-radius: 0;
    outline-color: white;
    cursor: pointer;
  }
  .edgeOptions {
    display: flex;
    width: 80%;
    flex-direction: column;
    overflow: hidden;
    margin-top: 5px;
    border-radius: 10px;
  }
  .visualizeControls {
    display: flex;
    width: 80%;
    margin-top: 15px;
    flex-direction: column;
  }
  .speedSlider {
    width: 100%;
  }
  .miscellaneous {
    display: flex;
    align-items: center;
    width: 80%;
    overflow: hidden;
    border-radius: 10px;
  }
  .dropdownWrapper {
    width: 100%;
    margin-bottom: 5px;
  }
  .graphContainer {
    height: 100%;
  }

  .pullDownMenu {
    position: absolute;
    display: flex;
    right: 10px;
    top: 48%;
    height: 40px;
    justify-content: flex-end;
    z-index: 2;
  }
  .pullDownMenuButton {
    width: 15px;
    height: 15px;
    border-right: 3px solid #4a46e4;
    border-bottom: 3px solid #4a46e4;
    transform: rotate(45deg);
  }
  .appIcon {
    margin-top: 15px;
  }
}
