.controlPanel {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  align-self: center;
  margin-top: 1%;
  padding-bottom: 10px;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #080808de, #25202f);
  padding-top: 10px;
}
.nodeOptions {
  display: flex;
  width: 33%;
  justify-content: space-evenly;
}
.edgeOptions {
  display: flex;
  width: 33%;
  justify-content: space-evenly;
}
.miscellaneous {
  display: flex;
}
.board {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(180deg, #51268ad1, #0072ffbf 119%);
}
.graphContainer {
  width: 95%;
  height: 90%;
  align-self: center;
  background-image: linear-gradient(45deg, #080808, #25202f);
  margin-top: 3px;
  border-radius: 5px;
}
.icon {
  margin-right: 5px;
}
.optionButtons {
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  outline-color: white;
}
