.node {
  fill: white;
  animation: node;
  animation-duration: 0.3s;
  cursor: pointer;
}

.directedEdge {
  stroke: white;
  fill: transparent;
  stroke-width: 0.2%;
  animation: edge;
  animation-duration: 0.3s;
}
.visited {
  fill: #30a947;
  animation: traversal;
  animation-duration: 0.5s;
}
.arrowTraversal {
  fill: #30a947 !important;
  animation: arrowTraversal;
  animation-duration: 0.5s;
}
.arrowShortestPath {
  fill: #ffcc3c !important;
  animation: arrowShortestPath;
  animation-duration: 0.5s;
}
.usedInTraversal {
  stroke: #30a947 !important;
  animation: edgeTraversal ease-out reverse !important;
  animation-duration: 0.3s !important;
}
.usedInShortestPath {
  stroke: #ffcc3c !important;
  animation: edgeShortestPath ease-out reverse !important;
  animation-duration: 0.3s !important;
}
.shortestPath {
  fill: #ffcc3c;
  animation: pathfinding;
  animation-duration: 0.5s;
}
.readyForVisualization:hover {
  fill: #569cb7;
}
.startNode {
  fill: #4f52bd;
}
.endNode {
  fill: #b92230;
}
.deleteNodeMode:hover {
  fill: #a01f1f;
}
.editEdgeMode:hover {
  stroke: #39b16f;
}
.undirectedEdge {
  stroke: white;
  fill: transparent;
  stroke-width: 0.4%;
  animation: edge;
  animation-duration: 0.3s;
}
.deleteEdgeMode:hover {
  stroke: #a01f1f;
}
.nodeText {
  pointer-events: none;
  user-select: none;
  fill: black;
  font-weight: bold;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.edgeText {
  fill: white;
  dominant-baseline: text-after-edge;
  pointer-events: none;
  user-select: none;
  font-weight: bold;
  font-size: 18px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation: common;
  animation-duration: 0.3s;
}
.disableEdge {
  pointer-events: none;
}
.arrow {
  fill: white;
}

@media only screen and (min-width: 1200px) {
  @keyframes node {
    from {
      fill: white;
      stroke-width: 5;
      stroke: #4f52bd;
      r: 40;
    }
    to {
      stroke-width: 0;
      r: 30;
    }
  }
  @keyframes edge {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes traversal {
    from {
      fill: white;
      stroke-width: 5;
      stroke: #30a947;
      r: 40;
    }
    to {
      stroke-width: 0;
      r: 30;
    }
  }
  @keyframes edgeTraversal {
    from {
      stroke: white;
      stroke-width: 0.1%;
      stroke-dasharray: 0;
    }
    to {
      stroke: #30a947;
      stroke-width: 0.4%;
      stroke-dasharray: 10;
    }
  }
  @keyframes edgeShortestPath {
    from {
      stroke: white;
      stroke-width: 0.1%;
      stroke-dasharray: 0;
    }
    to {
      stroke: #ffcc3c;
      stroke-width: 0.4%;
      stroke-dasharray: 10;
    }
  }
  @keyframes pathfinding {
    from {
      fill: white;
      stroke-width: 5;
      stroke: #ffcc3c;
      r: 40;
    }
    to {
      stroke-width: 0;
      r: 30;
    }
  }
  @keyframes arrowTraversal {
    from {
      fill: white;
      opacity: 0.5;
    }
    to {
      fill: #30a947;
      opacity: 1;
      /* stroke-dasharray: 280; */
    }
  }
  @keyframes arrowShortestPath {
    from {
      fill: white;
      opacity: 0.5;
    }
    to {
      fill: #ffcc3c;
      opacity: 1;
      /* stroke-dasharray: 280; */
    }
  }
}
