.node {
  fill: white;
  animation: common;
  animation-duration: 0.3s;
}

.directedEdge {
  stroke: white;
  fill: transparent;
  stroke-width: 0.2%;
  animation: common;
  animation-duration: 0.3s;
}
.visited {
  fill: #30a947;
}
.shortestPath {
  fill: #ffcc3c;
}
.deleteNodeMode:hover {
  fill: #a01f1f;
}
.editEdgeMode:hover {
  stroke: #39b16f;
}
.undirectedEdge {
  stroke: white;
  fill: transparent;
  stroke-width: 0.4%;
  animation: common;
  animation-duration: 0.3s;
}
.deleteEdgeMode:hover {
  stroke: #a01f1f;
}
.nodeText {
  pointer-events: none;
  user-select: none;
  fill: black;
  font-weight: bold;
  text-anchor: middle;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.edgeText {
  fill: white;
  dominant-baseline: text-after-edge;
  pointer-events: none;
  user-select: none;
  font-weight: bold;
  font-size: 18px;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  animation: common;
  animation-duration: 0.3s;
}
.arrow {
  fill: white;
}

@keyframes common {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
