.ms-Dropdown-item:hover {
  color: white !important;
}
.ms-Dropdown-title {
  border: none !important;
}
.ms-Callout-main {
  top: 5px;
  border-radius: 5px !important;
}
.ms-Panel-main {
  background: transparent;
  backdrop-filter: blur(10px);
}
.dropdown-58 {
  border-color: white !important;
  border: none !important;
}
.dropdown-58::after {
  border-color: white !important;
}
.dropdown-40::after {
  border-color: white !important;
}
